doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .wrapper
       main.main
        .logo
          a(href="#").logo__link
            img(src="img/logos/logo.svg", alt="logo").logo__image
        h1.main__title Coming Soon
        .contacts
          h2.contacts__title contact us
          ul.contacts__list
            li.contacts__item
              a(href="mailto:Info@sohohookah.com").contacts__link Info@sohohookah.com
            li.contacts__item
              a(href="tel:971503523501").contacts__link + 971 50 352 3501

